[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.17"
django-crispy-forms = "==1.14.0"
crispy-bootstrap5 = "==0.7"

[dev-packages]

[requires]
python_version = "3.11"
